# Jupyter system, including the notebook, qtconsole, and the IPython kernel
# https://pypi.org/project/jupyter/
jupyter
# Data Science packages
numpy
pandas
matplotlib
## Data Science in VS Code Tutorial additions
seaborn
scikit-learn
keras
tensorflow